<ion-header>
  <ion-toolbar>
    <ion-title>Editar Anúncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div id="div1">
      <div id="div2">
        
          <ion-list>
            <div id="fotoDiv" (click)="tirarFoto()">
              <ion-img id="foto" [src]="foto"></ion-img>
            </div>
  
            <ion-item>
              <ion-label class="label" position="floating">Titulo</ion-label>
              <ion-input type="text" [(ngModel)]="anuncioObjeto.titulo"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label class="label" position="floating">Descrição</ion-label>
              <ion-textarea [(ngModel)]="anuncioObjeto.descricao"></ion-textarea>
            </ion-item>
  
            <ion-item>
              <ion-label class="label" position="floating">Valor</ion-label>
              <ion-input type="text" [(ngModel)]="anuncioObjeto.valor"></ion-input>
            </ion-item>
  
          </ion-list>
        
  
        <!-- <p id="msg"> {{msg}} </p> -->
  
        <ion-row>
          <ion-col size="6">
            <ion-button [routerLink]="['/meus-anuncios']" shape="round" fill="outline" expand="full">
              Cancelar
            </ion-button>
          </ion-col>
  
          <ion-col size="6">
            <ion-button (click)="salvar()" shape="round" expand="full">
              Salvar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

</ion-content>
