<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bom Negócio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <ion-list>    
      <ion-item>
        <ion-label>Categorias</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="imoveis">Imóveis</ion-select-option>
          <ion-select-option value="veiculos">Veículos</ion-select-option>
          <ion-select-option value="eletronicos">Eletrônicos</ion-select-option>
          <ion-select-option value="vestuario">Vestuário</ion-select-option>
        </ion-select>
      </ion-item>    
    </ion-list> -->

    <ion-list class="anuncios">
      <ion-label>Anúncios</ion-label>
      <ion-item [routerLink]="['/anuncio-detalhes', anuncio.id]" class="item_anuncio" lines="none" color="primary" *ngFor="let anuncio of listaAnuncios">
        <ion-label>{{ anuncio.titulo }}</ion-label>
      </ion-item>
    </ion-list>

   
</ion-content>
