ion-card{
    --background: rgb(243, 241, 237);
}

.imgcard{
    border: 10px;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    color: white;
}

h4{
    text-align: center;
    font-weight: bold;
}

#banner{
    margin: 0%;
    width: 100%;
    height: 70px;
}