<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <ion-card-header>      
        <ion-card-title>{{anuncioObjeto.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-img class="anuncio-img" src="{{anuncioObjeto.imagem}}"></ion-img>
    
    <ion-card-content>      
      {{anuncioObjeto.descricao}}
    </ion-card-content>

    <h4>{{anuncioObjeto.valor}}</h4>

    <ion-button expand="full" shape="round"> Chat </ion-button>
  </ion-card>

  <div>
      <ion-img id="banner" src="../../assets/img/uber.jpg"></ion-img>
  </div>

</ion-content>
